/* line 2, ../../../sass/sass/views/DL.scss */
.x-btn-default-toolbar-small-over {
  background-color: #ffb94b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c94700), to(#b84100));
  background-image: -webkit-linear-gradient(top, #c94700, #b84100);
  background-image: -moz-linear-gradient(top, #c94700, #b84100);
  background-image: -ms-linear-gradient(top, #c94700, #b84100);
  background-image: -o-linear-gradient(top, #c94700, #b84100);
  background-image: linear-gradient(top, #c94700, #b84100);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  display: block;
  border: none;
  position: relative;
  float: none;
  height: 35px;
  padding: 0;
  margin: 0 auto 20px;
  width: 120px;
  cursor: pointer;
  font-size: 18px;
  color: #FFF;
  text-transform: capitalize;
}

/* line 516, ../../../ext-theme-neutral/sass/src/button/Button.scss */
/* line 32, ../../../sass/sass/views/DL.scss */
.x-btn-default-toolbar-small-focus {
  background-color: #ffb94b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c94700), to(#b84100));
  background-image: -webkit-linear-gradient(top, #c94700, #b84100);
  background-image: -moz-linear-gradient(top, #c94700, #b84100);
  background-image: -ms-linear-gradient(top, #c94700, #b84100);
  background-image: -o-linear-gradient(top, #c94700, #b84100);
  background-image: linear-gradient(top, #c94700, #b84100);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  display: block;
  border: none;
  position: relative;
  float: none;
  height: 35px;
  padding: 0;
  margin: 0 auto 20px;
  width: 120px;
  cursor: pointer;
  font-size: 18px;
  color: #FFF;
  text-transform: capitalize;
}

/* line 63, ../../../sass/sass/views/DL.scss */
#submit:hover, #submit:focus {
  background-color: #C94700;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b84100), to(#c94700));
  background-image: -webkit-linear-gradient(top, #b84100, #c94700);
  background-image: -moz-linear-gradient(top, #b84100, #c94700);
  background-image: -ms-linear-gradient(top, #b84100, #c94700);
  background-image: -o-linear-gradient(top, #b84100, #c94700);
  background-image: linear-gradient(top, #b84100, #c94700);
}

/* line 72, ../../../sass/sass/views/DL.scss */
#submit:active {
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

/* line 78, ../../../sass/sass/views/DL.scss */
#submit::-moz-focus-inner {
  border: none;
}
