.x-btn{
  &.x-btn-over {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
    background-image: -webkit-linear-gradient(top, #C94700, #B84100);
    background-image: -moz-linear-gradient(top, #C94700, #B84100);
    background-image: -ms-linear-gradient(top, #C94700, #B84100);
    background-image: -o-linear-gradient(top, #C94700, #B84100);
    background-image: linear-gradient(top, #C94700, #B84100);
    border:none;
    border-radius: 0px;
    text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    display: block;
    position: relative;
    float: none;
    cursor: pointer;
    color: #FFF;
    text-transform:  capitalize;
  }

  &.x-btn-focus{
    background: #b84100; /* Old browsers */
    background: -moz-linear-gradient(top,  #b84100 0%, #c94700 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b84100), color-stop(100%,#c94700)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b84100 0%,#c94700 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b84100 0%,#c94700 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b84100 0%,#c94700 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b84100 0%,#c94700 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b84100', endColorstr='#c94700',GradientType=0 ); /* IE6-9 */
    border:none;
    border-radius: 0px;
    text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    display: block;
    position: relative;
    float: none;
    cursor: pointer;
    color: #FFF;
    text-transform:  capitalize;
  }
  &.x-pressed{
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
    background-image: -webkit-linear-gradient(top, #C94700, #B84100);
    background-image: -moz-linear-gradient(top, #C94700, #B84100);
    background-image: -ms-linear-gradient(top, #C94700, #B84100);
    background-image: -o-linear-gradient(top, #C94700, #B84100);
    background-image: linear-gradient(top, #C94700, #B84100);
    border:none;
    border-radius: 0px;
    text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    display: block;
    position: relative;
    float: none;
    cursor: pointer;
    color: #FFF;
    text-transform:  capitalize;
  }
}

#submit:active {
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

@mixin box-flex($flex: $default-box-flex) {
  @include experimental(box-flex, $flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin box-orient($orientation: $default-box-orient) {
  $orientation: unquote($orientation);
  @include experimental(box-orient, $orientation, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin display-box {
  @include experimental-value(display, box, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin display-flex {
  @include display-box;
  // old
  @include experimental-value(display, flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

// Controlling widths
@mixin flex($flex, $flex-width: false) {
  @include experimental(box-flex, $flex, -moz, -webkit, not -o, not -ms, not -khtml, not official);
  @if $flex-width {
    width: $flex-width;
  }
  @include experimental(flex, $flex, not -moz, -webkit, not -o, -ms, not -khtml, official);
}
